@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
.App {
  text-align: center;
  font-family: "Poppins";
  background-color: #282c34;
  color: #fff
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

#introSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.profileURL {
  width: 36px;
  height: 36px;
}